#form-heading{
    font-weight: bolder;
    font-size: 30px;
}

.form-label {
    font-size: 20px;
}

.layout {
    display: flex;
    align-items:start;
    margin-top: 10px;

}

.button {
    width: 100px;
    max-height: 30px;
}

.button-container {
    display: flex;
    flex-direction: column; 
    align-items: start;
    gap: 10px; 
}

.button-container button {
    width: 100px; 
   
}

.input-group, .input-group-append {
    display: block; 
    width: 100%;
}

.weather-container {
    width: 100%;
    display: none;
}

#search-button {
    width: 100%;
    margin-top: 15px;
    background-color: rgb(71, 117, 177);
}

.side-panel {
    width: 350px;
    margin-right: 10px;
}

#search-input {
    width: 100%;
    border-radius: 5px;
    border-width: 1px;
}

.search-list button {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border-width: 0px;
    background-color: rgb(159, 159, 159);
}

    li {
        list-style-type: none;
    }

    .inline-container h3,
    .inline-container h5,
    .inline-container img {
    display: inline-block;
    vertical-align: middle; 
    margin-right: 10px; 
    }

.card-1-content {
margin-left: 10px;
}

.card-body {
    background-color: rgb(38, 64, 95);
    color: white;
}

.bg-blue{
    background: linear-gradient(to right, #add8e6, rgb(38, 64, 95))
}