#form-heading{
    font-weight: bolder;
    font-size: 30px;
}

.form-label {
    font-size: 20px;
}

.layout {
    display: flex;
    align-items:start;
    margin-top: 10px;

}

.button {
    width: 100px;
    max-height: 30px;
}

.button-container {
    display: flex;
    flex-direction: column; /* Aligns children elements (buttons) vertically */
    align-items: start; /* Aligns buttons to the start (left) of the container */
    gap: 10px; /* Optional: Adds space between buttons */
}

.button-container button {
    width: 100px; /* Set a specific width for all buttons */
    /* Add additional styling as needed */
}

.input-group, .input-group-append {
    display: block; /* Ensure these are block-level elements */
    width: 100%; /* Take the full width of the parent container */
}

.weather-container {
    width: 100%;
    display: none;
}

#search-button {
    width: 100%;
    margin-top: 15px;
    background-color: rgb(71, 117, 177);
}

.side-panel {
    width: 350px;
    margin-right: 10px;
}

#search-input {
    width: 100%;
    border-radius: 5px;
    border-width: 1px;
}

.search-list button {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border-width: 0px;
    background-color: rgb(159, 159, 159);
}

/* .search-list li {
    width: 100%;
    /* other styles if needed */

    li {
        list-style-type: none;
    }

    .inline-container h3,
.inline-container h5,
.inline-container img {
    display: inline-block; /* or 'inline' depending on your needs */
    vertical-align: middle; /* Aligns them vertically in the middle */
    margin-right: 10px; /* Optional: adds some space between elements */
}

.card-1-content {
margin-left: 10px;
}

.card-body {
    background-color: rgb(38, 64, 95);
    color: white;
}

.bg-blue{
    background: linear-gradient(to right, #add8e6, rgb(38, 64, 95))
}